.jumbotron {
  background-color: #4cf200;
  color: white;

}

.outputResult {
  color:#1660af;
}


h1, .bop {
  text-align: center;
  color: #1660af!important;
}

label {
  color: white;
  font-size: 40px;
}

#result1 {
  font-size: 20px;
  color: white;
}
